{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'api:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
